

<div class="container">
	 <div class="jumbotron">
    <h1 style="color:yellow"><i><b>Get your Grades</b></i>>></h1> 
    
    <p style="color:#FFFAFA"> <b>#Enter your MSIT RollNo</b> </p>
  </div>

<div class="text-center">
  <form>
    <div class="form-group">
      <label for="roll">Roll Number: </label>
      <input type="text" id="roll" class="form-control" name="rollNumber" required [(ngModel)] = "studentModel.id" ><br>
      <button type="button" class="btn btn-success" (click)="redirect()">Submit</button>
    </div>
    
  </form>
</div>


</div>
