<h1 class="text-center">
    Submit Grade Sheet
  </h1>
  <div class="text-center">
    <form enctype="multipart/form-data">
      <div class="form-group">
        <label for="courseId">Course Id: </label>
        <input type="text" [disabled] = "uploading || uploadSuccessful" id="courseId" class="form-control" name="courseId" [(ngModel)]="courseModel.id" width="20">
      </div>
      <mat-form-field>
        <input matInput [disabled] = "uploading || uploadSuccessful" [matDatepicker]="picker" placeholder="MM/DD/YYYY" [(ngModel)]="courseModel.StartDate" name="Date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class="form-group">
        <label for="csvInput">Select File: </label>
        <input type="file" [disabled] = "uploading || uploadSuccessful" id="csvInput" class="form-control" name="csvInput" (change)="fileChange($event)" width="20">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-success" (click)="uploadCSV()">{{primaryButtonText}}</button>
      </div>
    </form>
  </div>
